.quote {
    font-size: 1.5em;
}

section.children {
    margin-top: 2em;
}

.children image {
    width: 50%!important;
}

header.major >:last-child {
    margin-bottom: 1em;
}

.content {
    margin-top: 3em;
}

.social-worker-buttons-top {
    margin-top: 1.5em;
}

.header p {
    margin-top: 1em;
}

.social-worker-header-text {
    margin-left: 1em;
    width: 40%;
}

.image.circle.small.social-worker-image {
    width: 70%;
}

.inspiration header {
    font-size: .5em;
}

.header-quote p {
    text-transform: none;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
}

header.major.header-quote-major h4 {
    font-size: 1.5em;
}

.goals {
    width: 60%;
}

.header-quote {
    padding-top: 3em;
}

input,
textarea,
select {
    appearance: none;
    border: 1px solid #5b616b;
    border-radius: 0;
    box-sizing: border-box;
    color: #212121;
    display: block;
    line-height: 1.3;
    margin: 0.2em 0;
    outline: none;
    width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    background-image: url(https://standards.usa.gov/assets/img/arrow-down.png);
    background-image: url(https://standards.usa.gov/assets/img/arrow-down.svg);
    background-position: right 1.3rem center;
    background-repeat: no-repeat;
    background-size: 1.3rem;
}

p.sort-label {
    /* margin-top: 1em; */
    float: right;
    font-size: 1.5em;
    line-height: 2em;
}

a:focus {
    box-shadow: none;
}

.usa-button-outline {
    background-color: #ffffff !important;
    box-shadow: inset 0 0 0 2px #0071bc;
    color: #0071bc !important;
    &:hover {
        box-shadow: inset 0 0 0 2px #205493 !important;
        color: #205493 !important;
    }
}

.usa-button-primary-alt {
    background-color: #02bfe7 !important;
    color: #212121 !important;
}


/** CHILDREN PAGE */

.social-worker-header-text p {
    font-size: 1.5em;
    margin-bottom: .5em;
}

.children h5 {
    margin-bottom: .5em;
}

.reminders,
.children {
    a {
        border-bottom: dotted 1px !important;
    }
}

.reminder-complete {
    position: absolute;
    right: 1em;
    top: 1em;
    margin-top: 0;
    background-color: #e7f4e4;
    border: 0;
    border-radius: .3rem;
    .usa-alert-body {
        padding: 1em;
    }
}

.second-row {
    margin-top: 4em;
}


/** CATEGORIES */

section.categories {
    padding-bottom: 4em;
    section {
        width: 90%;
    }
    a {
        text-align: left;
    }
}


/* Medical */

span#falling-behind,
.medical header h4,
.fa-stethoscope {
    color: #e31c3d;
}

.medical a {
    background-color: white !important;
    color: #3d4449 !important;
    box-shadow: inset 0 0 0 2px #e31c3d!important;
    &:hover {
        box-shadow: inset 0 0 0 2px #e31c3d!important;
        color: white !important;
        background-color: #e31c3d!important;
    }
}


/* Education */

span#progressing,
.education header h4,
.fa-graduation-cap {
    color: #2e8540;
}

.education a {
    background-color: white !important;
    color: #3d4449 !important;
    box-shadow: inset 0 0 0 2px #2e8540!important;
    &:hover {
        box-shadow: inset 0 0 0 2px #2e8540!important;
        color: white !important;
        background-color: #2e8540!important;
    }
}


/* Background */

.background header h4,
.fa-history {
    color: #205493;
}

.background a {
    background-color: white !important;
    color: #3d4449 !important;
    box-shadow: inset 0 0 0 2px #205493!important;
    &:hover {
        box-shadow: inset 0 0 0 2px #205493!important;
        color: white !important;
        background-color: #205493!important;
    }
}


/* Legal */

span#room-for-improvement,
.legal header h4,
.fa-gavel {
    color: #fdb81e;
}

.legal a {
    background-color: white !important;
    color: #3d4449 !important;
    box-shadow: inset 0 0 0 2px #fdb81e !important;
    &:hover {
        box-shadow: inset 0 0 0 2px #fdb81e !important;
        color: white !important;
        background-color: #fdb81e !important;
    }
}

.child-goals {
    width: 30%;
    form {
        margin-bottom: 0;
    }
}

.fa {
    margin-right: .5em;
}

span.compare {
    margin-left: 1em;
    &.good {
        b,
        .fa {
            color: #2e8540;
        }
    }
    &.bad {
        b,
        .fa {
            color: #e31c3d;
        }
    }
}

span.link-to-time {
    margin-right: .75em;
}

.tracking-options {
    margin-bottom: 3em;
    .fa-folder-open-o, .fa-child, .fa-trophy, .fa-clock-o, .fa-thumbs-o-up, .fa-support {
        color: #3d4449;
    }
}

.stat-button {
    margin-top: 1em;
}

.social-workers-overview {
    margin-bottom: 3em;
}